@font-face {
  font-family: "Redaction20";
  src: local("Redaction20"),
    url("./assets/fonts/Redaction20-YzPy2.otf") format("otf"),
    url("./assets/fonts/Redaction20-YzPy2.otf") format("otf");
  font-weight: 400;
  font-display: swap; /* Optional: improves loading behavior */
}

@font-face {
  font-family: "Redaction20";
  src: local("Redaction20"),
    url("./assets/fonts/Redaction20Bold-2ODWX.otf") format("otf"),
    url("./assets/fonts/Redaction20Bold-2ODWX.otf") format("otf");
  font-weight: 700;
  font-display: swap; /* Optional: improves loading behavior */
}

@font-face {
  font-family: "Redaction20";
  src: local("Redaction20"),
    url("./assets/fonts/Redaction20Italic-K7ZJe.otf") format("otf"),
    url("./assets/fonts/Redaction20Italic-K7ZJe.otf") format("otf");
  font-weight: 400;
  /* font-style: italic; */
  font-display: swap; /* Optional: improves loading behavior */
}
